<div class="content" role="main">

  <table width="100%">
    <tr>
      <td style="width:200px;">
        <input id="input" (change)="setResult()" [(ngModel)]="numberInput">
      </td>
      <td>
        <select [(ngModel)]="selectionValue" (change)="setResult()">
          <option *ngFor='let i of selectionList'>
            {{i}}
          </option>

        </select>
      </td>
      <td style="width:300px;">
        <h3>{{resultTest}}</h3>
      </td>
    </tr>
  </table>


</div>


<router-outlet></router-outlet>